@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.cart-item img,
.product img {
  -webkit-user-drag: none;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #e7e2dd;
  z-index: 99;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-btn:hover {
  opacity: 0.8;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

.cart-item {
  min-width: 270px;
}

/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("../img/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #f09d51;
}

/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */
.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
}

.img-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-container::before {
  content: attr(data-qty);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.56rem;
  min-width: 23px;
  border-radius: 50%;
  background-color: #f09d51;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  transition: all 0.3s linear;
}
.img-container:hover::before {
  opacity: 1;
  visibility: visible;
}

.product .title-container {
  margin: auto;
  line-height: 1.55rem;
  text-align: center;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
  color: #fff;
}

.img-container:hover {
  color: #fff;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  transition: all 0.3s linear;
  width: 100%;
  min-height: 224px;
  max-height: 224px;
  max-width: 100%;
  padding: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.product .series {
  font-size: 0.85rem;
  display: inline-block;
  color: #f09d51;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0;
}

.img-container:hover .series {
  opacity: 1;
  visibility: visible;
}

.product .price-container {
  margin-top: 0.4rem;
  letter-spacing: 0.1rem;
  color: #f09d51;
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.cart-overlay.active {
  visibility: visible;
  opacity: 1;
}

.cart {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  transform: translateX(100%);
  z-index: 99;
  transition: 0.2s ease-in-out;
}

/* Hide scrollbar */
.cart::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.showCart {
  visibility: visible;
  opacity: 1;
  right: 0;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
.close-cart {
  font-size: 1.95rem;
  cursor: pointer;
}
.close-cart:hover {
  opacity: 0.8;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0 1rem;
  position: relative;
  top: -1rem;
}

.cart h2 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  min-width: 64px;
  max-width: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 110px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.cart-item small {
  display: block;
  margin: 1rem 0;
  word-spacing: 0.3rem;
  font-weight: 900;
  font-size: 0.8rem;
}

.arrow-btn:hover {
  opacity: 0.8;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #f09d51;
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
