@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: #cd255e;
  font-size: 1.3rem;
}
footer,
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  opacity: 0.8;
}
footer,
footer address {
  margin: auto;
  text-align: center;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Press Start 2P", cursive;
  border-left: 1rem solid #cd255e;
  padding-left: 0.5rem;
  margin-right: 0.2rem;
}
@media (max-width: 310px) {
  .logo {
    border-left: 0.1rem;
  }
}
@media (max-width: 450px) {
  .logo {
    font-size: calc(1rem + 1vw);
  }
}
.logo a {
  text-decoration: none;
  color: #2d2d2d;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.cart-item img,
.product img {
  -webkit-user-drag: none;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 9px 13px -6px rgba(189, 185, 185, 0.45);
  z-index: 99;
}

.navbar-center {
  width: 100%;
  max-width: 1238px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-btn:hover {
  opacity: 0.8;
}

.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #cd255e;
  padding: 0 5px;
  border-radius: 30%;
  color: #fff;
}

/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("../img/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: rgba(205, 37, 94, 0.75);
  color: #fff;
  border: 1px solid #cd255e;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #cd255e;
}

/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */
.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.1rem;
  text-transform: capitalize;
  font-family: "Press Start 2P", cursive;
  max-width: 543px;
  margin: 0 auto 5rem;
  color: #2d2d2d;
  border-left: 1rem solid #cd255e;
  padding-left: 0.5rem;
}
@media (max-width: 310px) {
  .section-title h2 {
    border-left: 0.1rem;
  }
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
}

.img-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-container::before {
  content: attr(data-qty);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.56rem;
  min-width: 23px;
  border-radius: 50%;
  background-color: #cd255e;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  transition: all 0.3s linear;
}
.img-container:hover::before {
  opacity: 1;
  visibility: visible;
}

.product .title-container {
  margin: auto;
  line-height: 1.55rem;
  text-align: center;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #cd255e;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
  color: #fff;
}

.img-container:hover {
  color: #fff;
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  transition: all 0.3s linear;
  min-height: 224px;
  max-height: 224px;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #2d2d2d;
}

.product .series {
  font-size: 0.85rem;
  display: inline-block;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0;
}

.img-container:hover .series {
  opacity: 1;
  visibility: visible;
}

.product .price-container {
  margin-top: 0.4rem;
  letter-spacing: 0.1rem;
  color: #cd255e;
  text-align: center;
}

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  background-color: rgba(21, 21, 21, 0.3);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.cart-overlay.active {
  visibility: visible;
  opacity: 1;
}

.cart {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #e7e2dd;
  padding: 1.5rem;
  transform: translateX(100%);
  z-index: 99;
  transition: 0.35s ease-in-out;
  /* Hide scrollbar */
}
@media screen and (min-width: 768px) {
  .cart {
    width: 40vw;
    min-width: 450px;
  }
}
.cart::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.showCart {
  visibility: visible;
  opacity: 1;
  right: 0;
  transform: translateX(0);
}

.close-cart {
  font-size: 1.95rem;
  cursor: pointer;
}
.close-cart i {
  color: #cd255e;
}
.close-cart:hover {
  opacity: 0.8;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem 0 1rem;
  position: relative;
  top: -1rem;
}
.cart-header .cart-title {
  font-size: 1.5rem;
  font-family: "Press Start 2P", cursive;
  border-left: 1rem solid #cd255e;
  padding-left: 0.5rem;
}
@media (max-width: 310px) {
  .cart-header .cart-title {
    border-left: 0.1rem;
  }
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: flex;
  align-items: center;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  width: 100%;
  min-width: 270px;
  justify-content: space-evenly;
}
.cart-item .price-display {
  min-width: 180px;
}

.cart-item img {
  min-width: 64px;
  max-width: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 110px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.cart-item small {
  display: block;
  margin: 1rem 0;
  word-spacing: 0.3rem;
  font-weight: 900;
  font-size: 0.8rem;
}

.arrow-btn:hover {
  opacity: 0.8;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #cd255e;
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
/* --------------- Swiper - start --------------- */
.swiper {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 2px 9px 13px -6px;
  max-width: 1200px;
}
@media (min-width: 1215px) {
  .swiper {
    height: 350px;
    width: 100%;
    margin-top: 3rem;
  }
}
.swiper:hover .swiper-btn {
  visibility: visible;
  opacity: 0.9;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-btn {
  color: #fff !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.swiper-button-next {
  right: 50px !important;
}
.swiper-button-next:hover {
  right: 42px !important;
}

.swiper-button-prev {
  left: 50px !important;
}
.swiper-button-prev:hover {
  left: 42px !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.75 !important;
}

.swiper-pagination-bullet-active {
  background-color: #cd255e !important;
}

@media (max-width: 500px) {
  .swiper-btn,
.swiper-pagination-bullet {
    opacity: 0 !important;
  }
}
/* --------------- Swiper - end ---------------- */
