.swiper {
  width: 100%;
  box-shadow: rgb(0 0 0 / 45%) 2px 9px 13px -6px;

  @media (min-width: 1215px) {
    height: 350px;
    width: 100%;
    margin-top: 3rem;
  }

  max-width: 1200px;

  &:hover {
    .swiper-btn {
      visibility: visible;
      opacity: .9;
    }
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-btn {
  color: $white !important;
  opacity: 0;
  visibility: hidden;
  transition: $mainTransition;
}

.swiper-button-next {
  right: 50px !important;

  &:hover {
    right: 42px !important;
  }
}

.swiper-button-prev {
  left: 50px !important;

  &:hover {
    left: 42px !important;
  }
}

.swiper-pagination-bullet {
  background-color: $white !important;
  opacity: .75 !important;
}

.swiper-pagination-bullet-active {
  background-color: $primaryColor !important;
}

@media (max-width:500px) {

  .swiper-btn,
  .swiper-pagination-bullet {
    opacity: 0 !important;
  }
}