.swiper {
  width: 100%;
  box-shadow: rgb(0 0 0 / 45%) 2px 9px 13px -6px;

  @media (min-width: 1215px) {
    height: 350px;
    width: 100%;
    margin-top: 3rem;
  }
  max-width: 1200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next {
  right: 42px;
}

.swiper-button-prev {
  left: 42px;
}