.swiper {
  width: 600px;
  height: 300px;
  width: 100%;

  @media (min-width: 700px) {
    height: 371px;
    width: 100%;
    margin-top: 3rem;
  }
  max-width: 1200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next {
  right: 42px;
}

.swiper-button-prev {
  left: 42px;
}